/* css for removing default spin button in input field of number */

/* styles.css or any stylesheet */
.no-spin-buttons {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  /* ******************************* */